includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    path:
        - app/
        - bootstrap/
        - config/
        - database/
        - routes/
        - tests/
    level: 5